main {
    padding-top: 70px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.main {
    border-left: solid 3px black;
    margin-left: 230px;
}
.m_left_buttons {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: auto;
    padding: 20px;
    width: 190px;
}
.leftbutton{
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 17px;
    padding-bottom: 7px;
    transition: all 0.3s ease;
}

.m_btn_img_ico {
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    mask-image: var(--icon-path);
    mask-size: auto;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: all 0.3s ease;
    padding: 6px;
}
.leftbutton:hover .m_btn_img_ico {
    background-color: rgb(0, 0, 0);
}
.leftbutton:hover {
    
    color: rgb(0, 0, 0);
}
.m_trailer_content {
    position: relative;
    width: 90%;
    height: 400px;
    overflow: hidden;
    background: linear-gradient(90deg, black 27%, rgba(255, 255, 255, 0) 60%) border-box;
    margin: 40px auto 0 auto;
}
.zaglushka{
    background-color: rgba(255, 228, 196, 0);
    border: none;
}
.m_trailer_content > div > img {
    width: 170px;
    margin-bottom: 20px;
}
.m_trailer_content > div{
    margin: 40px 55% 40px 40px;
    text-wrap: inherit;
}
.m_trailer_content > div > p {
    margin-bottom: 20px;
    font-size: 13px;
    color: white;
}
.video_bg {
    position: absolute;
    top: -17.5%;
    right: -20%; 
    height: 135%;
    z-index: -1;
}
.m_trailer_bottom_content > div {
    display: flex;
    align-items: end;
}
.m_trailer_bottom_content > div > b {
    color: rgb(255, 111, 0);
    font-size: 22px;
}
.m_trailer_bottom_content > div > p {
    color: rgb(255, 111, 0);
    font-size: 6px;
    margin: 0 0 4px 5px;
}
