* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #000000;
}
.player {
    display: flex;
    /* position: relative; */
    width: 100vw;
    height: 100vh;
}

video {
    width: 100vw;
    height: 99.9vh;
    background: #000;
    margin: auto;
}

.seek-wrap {
    position: absolute;
    right: 10px;
    bottom: 50px;
    transition: right .2s ease, opacity .2s ease;
}
.seek-wrap.hidden {
    right: 0;
    opacity: 0;
    pointer-events: none;
}
.skip_btn {
    margin: 3px;
}
.controls {
    display: flex;
    position: absolute;
    width: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.498));
    color: #ffffff;
    padding: 20px 10px;
    align-items: center;
    justify-content: space-between;
    transition: opacity .2s ease, transform .2s ease, padding-bottom .2s ease;
}

.controls.hidden{
    opacity: 0;
    padding-bottom: 0px;
    pointer-events: none;
}

.controls input {
    flex:1;
    margin: 0 10px ;
}
